<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<servlet>
		<servlet-name>loginPage</servlet-name>
		<display-name>loginPage</display-name>
		<description></description>
		<servlet-class>mainproject.addd.loginPage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>icketBookingInfoServlet</servlet-name>
		<display-name>icketBookingInfoServlet</display-name>
		<description></description>
		<servlet-class>mainproject.addd.icketBookingInfoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BookTicketServlet</servlet-name>
		<display-name>BookTicketServlet</display-name>
		<description></description>
		<servlet-class>mainproject.addd.BookTicketServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BookTicketServlets</servlet-name>
		<display-name>BookTicketServlets</display-name>
		<description></description>
		<servlet-class>mainproject.addd.BookTicketServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>abd</servlet-name>
		<display-name>abd</display-name>
		<description></description>
		<servlet-class>mainproject.addd.abd</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>bakend</servlet-name>
		<display-name>bakend</display-name>
		<description></description>
		<servlet-class>fals.bakend</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Loginpage</servlet-name>
		<display-name>Loginpage</display-name>
		<description></description>
		<servlet-class>mainproject.SqlControlor.Loginpage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SigninPage</servlet-name>
		<display-name>SigninPage</display-name>
		<description></description>
		<servlet-class>mainproject.SqlControlor.SigninPage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>InsertAirport</servlet-name>
		<display-name>InsertAirport</display-name>
		<description></description>
		<servlet-class>mainproject.SqlControlor.InsertAirport</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>InsertAirline</servlet-name>
		<display-name>InsertAirline</display-name>
		<description></description>
		<servlet-class>mainproject.SqlControlor.InsertAirline</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>InsertFlight</servlet-name>
		<display-name>InsertFlight</display-name>
		<description></description>
		<servlet-class>mainproject.SqlControlor.InsertFlight</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginPage</servlet-name>
		<url-pattern>/loginPage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>icketBookingInfoServlet</servlet-name>
		<url-pattern>/icketBookingInfoServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BookTicketServlet</servlet-name>
		<url-pattern>/BookTicketServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BookTicketServlets</servlet-name>
		<url-pattern>/BookTicketServlets</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>abd</servlet-name>
		<url-pattern>/abd</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bakend</servlet-name>
		<url-pattern>/bakend</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Loginpage</servlet-name>
		<url-pattern>/Loginpage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SigninPage</servlet-name>
		<url-pattern>/SigninPage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InsertAirport</servlet-name>
		<url-pattern>/InsertAirport</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InsertAirline</servlet-name>
		<url-pattern>/InsertAirline</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InsertFlight</servlet-name>
		<url-pattern>/InsertFlight</url-pattern>
	</servlet-mapping>
 <!--  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Addition</servlet-name>
  	<display-name>Addition</display-name>
  	<description></description>
  	<servlet-class>Addition</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>varun</servlet-name>
  	<display-name>varun</display-name>
  	<description></description>
  	<servlet-class>mainproject.addd.varun</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Addition</servlet-name>
  	<url-pattern>/Addition</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>varun</servlet-name>
  	<url-pattern>/varun</url-pattern>
  </servlet-mapping> -->
</web-app>
